{% extends "home/home.html" %} {% import "ui/comment_page.html" as pg %} {% block content %} {% include "home/menu.html"
%}
<div class="col-md-9">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Comments</h3>
        </div>
        <div class="panel-body">
            <ul class="commentList">
                {% for v in page_data.items %}

                <li class="item cl">
                    <div class="comment-main">
                        <header class="comment-header">
                            <div class="comment-meta">
                                <p class="comment-author">{{ v.account.name }}</p>
                                commented:
                            </div>
                        </header>
                        <div class="comment-body">
                            <p>{{ v.content }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="col-md-12 text-center">
                {{ pg.page(page_data,'home.comments') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}