{% extends "home/home.html" %} 
{% import "ui/admin_page.html" as pg %}
{% block content %}



<section style="margin-top: 150px">
    <div class="container">
        <div >
            <div class="col-md-12 table-responsive">
                <table class="table text-left table-bordered" id="arttags">
                    <tr>
                        <td >Article tag</td>
                        <td style="width:90%;">
                            {% for v in tags %}
                            <a href="{{ url_for('home.index',page=1) }}?tid={{ v.id }}&pm={{ p['pm'] }}&cm={{ p['cm'] }}" class="label label-info">
                                <span class="glyphicon glyphicon-tag"></span>{{ v.name }}</a>
                            {% endfor %}
                    </tr>
                    
                    
                    <tr>
                        <td>Read</td>
                        <td>
                            <a href="{{ url_for('home.index',page=1) }}?tid={{ p['tid'] }}&pm=1&cm={{ p['cm'] }}" class="label label-success">
                                <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;Most first</span>
                            </a>
                            &nbsp;
                            <a  href="{{ url_for('home.index',page=1) }}?tid={{ p['tid'] }}&pm=2&cm={{ p['cm'] }}" class="label label-danger">
                                <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;Least first</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Comment number</td>
                        <td>
                            <a  href="{{ url_for('home.index',page=1) }}?tid={{ p['tid'] }}&pm={{p['pm'] }}&cm=1" class="label label-success">
                                <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;Most first</span>
                            </a>
                            &nbsp;
                            <a href="{{ url_for('home.index',page=1) }}?tid={{ p['tid'] }}&pm={{p['pm'] }}&cm=2" class="label label-danger">
                                <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;Least first</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% for v in page_data.items %}
            <div class="col-md-3">
                <div>
                   
                    <div class="text-left" >
                        <h3>{{ v.title }}</h3>
                        <a href="{{ url_for('home.read',id=v.id,page=1) }}" class="btn btn-primary" target="_blank" role="button">
                        &nbsp;Read</a>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            <div class="col-md-12">
                {{ pg.page(page_data,'home.index') }}
            </div>
        </div>
    </div>
</section>

{% endblock %}