{% extends "home/home.html" %} {% import "ui/comment_page.html" as pg %} {% block content %}
<div class="row">
    <div class="col-md-8">
        <div id="moviecontainer"></div>
    </div>
    <div class="col-md-4" style="height:500px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;</h3>
            </div>
            <div class="panel-body" style="height:459px;">
                <table class="table">
                    <tr>
                        <td style="width:30%;color:#ccc;font-weight:bold;font-style:italic;">
                            <span class="glyphicon glyphicon-film"></span>&nbsp;Name
                        </td>
                        <td>{{ movie.title }}</td>
                    </tr>
                    <tr>
                        <td style="color:#ccc;font-weight:bold;font-style:italic;">
                            <span class="glyphicon glyphicon-tag"></span>&nbsp;Tag
                        </td>
                        <td>{{ movie.tag.name }}</td>
                    </tr>
                    <tr>
                        <td style="color:#ccc;font-weight:bold;font-style:italic;">
                            <span class="glyphicon glyphicon-time"></span>&nbsp;Length
                        </td>
                        <td>{{ movie.length }}</td>
                    </tr>
                    <tr>
                        <td style="color:#ccc;font-weight:bold;font-style:italic;">
                            <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Area
                        </td>
                        <td>{{ movie.area }}</td>
                    </tr>

                    <tr>
                        <td style="color:#ccc;font-weight:bold;font-style:italic;">
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;Showing time
                        </td>
                        <td>{{ movie.release_time }}</td>
                    </tr>
                    <tr>
                        <td style="color:#ccc;font-weight:bold;font-style:italic;">
                            <span class="glyphicon glyphicon-play"></span>&nbsp;Played
                        </td>
                        <td>{{ movie.playnum }}</td>
                    </tr>
                    <tr>
                        <td style="color:#ccc;font-weight:bold;font-style:italic;">
                            <span class="glyphicon glyphicon-comment"></span>&nbsp;Comment number
                        </td>
                        <td>{{ movie.commentnum }}</td>
                    </tr>
                    <tr>
                        <td style="color:#ccc;font-weight:bold;font-style:italic;">
                            <span class="glyphicon glyphicon-picture"></span>&nbsp;Plot
                        </td>
                        <td>
                            {{ movie.info }}
                        </td>
                    </tr>

                </table>
                <script src="{{ url_for('static',filename='jwplayer/jwplayer.js') }}"></script>

<script type="text/javascript">
	jwplayer.key = "P9VTqT/X6TSP4gi/hy1wy23BivBhjdzVjMeOaQ==";

</script>
<script type="text/javascript">
	jwplayer("moviecontainer").setup({
		flashplayer: "{{ url_for('static',filename='jwplayer/jwplayer.flash.swf') }}",
		playlist: [{
			file: "{{ url_for('static',filename='uploads/'+movie.url) }}",
			title: "{{ movie.title }}"
		}],
		modes: [{
			type: "html5"
		}, {
			type: "flash",
			src: "{{ url_for('static',filename='jwplayer/jwplayer.flash.swf') }}"
		}, {
			type: "download"
		}],
		skin: {
			name: "vapor"
		},
		"playlist.position": "left",
		"playlist.size": 400,
		height: 500,
		width: 774,
	});

</script>
                
            </div>
        </div>
    </div>

    <div class="col-md-12" style="margin-top:6px;">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</h3>
            </div>
            <div class="panel-body">
                {% if "user" not in session %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    
                    <strong>Please
                        <a href="{{ url_for('home.login') }}" target="_blank" class="text-info">login</a>，to comment！</strong>
                </div>
                {% endif %}
                
                {% if "user" in session %} {% for msg in get_flashed_messages(category_filter=["err"]) %}
                <p style="color:red;">{{ msg }}</p>
                {% endfor %} {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                <p style="color:green;">{{ msg }}</p>
                {% endfor %}
                <form role="form" style="margin-bottom:6px;" method="post">
                    <div class="form-group">
                        <div>
                            <label for="input_content">{{ form.content.label }}</label>
                            <!-- Main Quill library -->

                            {{ form.content }}
                        </div>
                        {% for err in form.content.errors %}
                        <div class="col-md-12">
                            <font style="color:red">{{ err }}</font>
                        </div>
                        {% endfor %}
                    </div>
                    {{ form.csrf_token }} {{ form.submit }}
                    
                </form>
                {% endif %}
                <ul class="commentList">
                    {% for v in page_data.items %}

                    <li class="item cl">
                        <div class="comment-main">
                            <header class="comment-header">
                                <div class="comment-meta">
                                    <p class="comment-author">{{ v.account.name }}</p>
                                    commented:
                                </div>
                            </header>
                            <div class="comment-body">
                                <p>{{ v.content }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="col-md-12 text-center">
                    {{ pg.page(page_data,'home.play',movie.id) }}
                </div>
            </div>
        </div>
    </div>
</div>

<!--playing page-->

{% endblock %}
{% block js %}

{% endblock %}