{% extends "home/home.html" %}
{% import "ui/s_page.html" as pg %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <ol style="margin-top:90px;">
            <li>There are {{ art_count }} articles about {{ key }}</li>
        </ol>
    </div>
    <div class="col-md-12">
        {% for v in page_data.items %}
       
                <h4 class="text-left">{{ v.title }}
                    <a href="{{ url_for('home.read',id=v.id,page=1) }}" class="label label-primary pull-center">
                        Read</a>
                </h4>
                
            
        
        {% endfor %}
        <div class="col-md-12 text-center">
                {{ pg.page(page_data,'home.search') }}
        </div>
    </div>
    {% endblock %}