{% extends "layout.html" %} {% block css %}
<script type="text/javascript" charset="UTF-8" src="{{url_for('static',filename='ue/ueditor.config.js')}}"></script>
<script type="text/javascript" charset="UTF-8" src="{{url_for('static',filename='ue/ueditor.all.min.js')}}"></script>
<script type="text/javascript" charset="UTF-8" src="{{url_for('static',filename='ue/lang/en/en.js')}}"></script> 
{% endblock %}   

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="form-group"> 
        <label>Title</label>
        {{ form.title }}
        {% for v in form.title.errors %}
        <p style="color: red">{{ v }}</p> 
        {% endfor %}
    </div>
    <div class="form-group">
        <label>Tag</label>
        {{ form.tag }}
        {% for v in form.tag.errors %}
        <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>Content</label>
        {{ form.content }}
        {% for v in form.content.errors %}
        <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    {{ form.submit }}
    {{ form.csrf_token }}

</form>
{% endblock %} {% block js %}
<script>
    var ue = UE.getEditor('content');
    $(document).ready(function () {
        $("#m1").addClass("active");
    });
</script> {% endblock %}
