{% macro page(data,url) -%}
{% if data %}
<ul class="pagination pagination-sm no-margin pull-right">
    <li>
        <a href="{{ url_for(url,page=1) }}?key={{ data.key }}">first page &nbsp;&nbsp;</a>
    </li>
    {% if data.has_prev %}
    <li>
        
        <a href="{{ url_for(url,page=data.prev_num) }}?key={{ data.key }}">previous page&nbsp;&nbsp;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="#">previous page&nbsp;&nbsp;</a>
    </li>
    {% endif %}
    
    {% for v in data.iter_pages() %}
        {% if v == data.page %}
        <li class="active">
            <a href="#">{{ v }}&nbsp;&nbsp;</a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for(url,page=v) }}?key={{ data.key }}">{{ v }}&nbsp;&nbsp;</a>
        </li>
        {% endif %}
    {% endfor %}
   
    
    {% if data.has_next %}
    <li>
        <a href="{{ url_for(url,page=data.next_num) }}?key={{ data.key }}">next page&nbsp;&nbsp;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="#">next page&nbsp;&nbsp;</a>
    </li>
    {% endif %}
    <li>
        <a href="{{ url_for(url,page=data.pages) }}?key={{ data.key }}">last page</a>
    </li>
</ul>
{% endif %}
{%- endmacro %}