{% extends "admin/admin.html" %} {% block content %}
<section class="content-header">
    <h1>Administration</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Comment administration</a>
        </li>
        <li class="active">Comment list</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Comment list</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body box-comments">
                    {% for v in range(1,6) %}
                    <div class="box-comment">
                        
                        <div class="comment-text">
                            <span class="username">
                                aleksi
                                <span class="text-muted pull-right">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    &nbsp; 2018-01-01 12:00:00
                                </span>
                            </span>
                            about movie
                            <a>"x-men"</a>：xxx
                            <br>
                            <a class="label label-danger pull-right">Delete</a>
                        </div>
                    </div>
                    <div class="box-comment">
                        
                        <div class="comment-text">
                            <span class="username">
                                jussi
                                <span class="text-muted pull-right">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    &nbsp; 2017-03-01 12:00:00
                                </span>
                            </span>
                            about movie
                            <a>"x-men</a>：xxx
                            <br>
                            <a class="label label-danger pull-right">Delete</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li>
                            <a href="#">First page</a>
                        </li>
                        <li>
                            <a href="#">Previous page</a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">Next page</a>
                        </li>
                        <li>
                            <a href="#">Last page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}