<ul>
    <li>Administration menu</li>

    <li>
        <a>

            <span>Tag</span>
        </a>
        <ul>
            <li>
                <a href="{{ url_for('admin.tag_add') }}">
                    <i></i> Add tags
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.tag_list',page=1) }}">
                    <i></i> Tag list
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a>

            <span>Article</span>

        </a>
        <ul>
            <li>
                <a href="{{ url_for('admin.art_add') }}">
                    <i></i> Add articles
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.art_list',page=1) }}">
                    <i></i> Article list
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a>

            <span>User</span>

        </a>
        <ul class=>
            <li>
                <a href="{{ url_for('admin.user_list',page=1) }}">
                    <i class="fa fa-circle-o"></i> User list
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a>

            <span>Comment</span>

        </a>
        <ul>
            <li>
                <a href="{{ url_for('admin.comment_list',page=1) }}">
                    <i class="fa fa-circle-o"></i> Comment list
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a>
            <i></i>
            <span>Log</span>

        </a>
        <ul>
            <li>
                <a href="{{ url_for('admin.oplog_list',page=1) }}">
                    <i></i> Operation log list
                </a>
            </li>

        </ul>
    </li>
    <li>
        <a href="{{ url_for('home.index',page=1) }}">
            <i> To Users' first page</i>

        </a>
    </li>





</ul>